{
"chat_template": "{% if not add_generation_prompt is defined %}
  {% set add_generation_prompt = false %}
{% endif %}

{% set ns = namespace(is_first=false,
                      is_tool=false,
                      is_output_first=true,
                      system_prompt='') %}

{%- for message in messages %}
  {%- if message['role'] == 'system' %}
    {% set ns.system_prompt = message['content'] %}
  {%- endif %}
{%- endfor %}

{{bos_token}}{{ns.system_prompt}}

{%- for message in messages %}
  {%- if message['role'] == 'user' %}
    {%- set ns.is_tool = false -%}
    {{'<｜User｜>' + message['content']}}
  {%- endif %}

  {%- if message['role'] == 'assistant' and message['content'] is not none %}
    {%- if ns.is_tool %}
      {{'<｜tool outputs end｜>' + message['content'] + '<｜end of sentence｜>'}}
      {%- set ns.is_tool = false -%}
    {%- else %}
      {% set content = message['content'] %}
      {% if '</think>' in content %}
        {% set content = content.split('</think>')[-1] %}
      {% endif %}
      {{'<｜Assistant｜>' + content + '<｜end of sentence｜>'}}
    {%- endif %}
  {%- endif %}

{% if add_generation_prompt and not ns.is_tool %}
  {{'<｜Assistant｜>'}}
{% endif %}"
}
